# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

websockets
ws
gin-bin
.idea/
.env
vendor/

.DS_Store

certs/cf-pff.crt
certs/cf-pff.key
certs/cf.key
certs/cf.crt
certs/cf-cases.crt
certs/cf-cases.key
certs/cf-ge.key
certs/cf-ge.crt
